<p> hello new user </p>

<%= form_tag "/users", method: "post" do %>

    <%= label_tag 'Username' %>
    <%= text_field_tag 'username', @user.username %>
    <br /> <br />

    <%= label_tag 'Email' %>
    <%= email_field_tag 'email', @user.email %>
    <br /> <br />

    <%= label_tag 'Password' %>
    <%= password_field_tag 'password', @user.password %>
    <br /> <br />

    <%= submit_tag "Create User" %>

    <% end %>

